:root {
    font-size: 10px;
    --border-radius: 4px;
    --background-black: rgb(0, 0, 0);
    --background-light-grey: rgb(241, 241, 241);
    --background-white: rgb(255, 255, 255);
    --border-bottom-grey: rgb(200, 200, 200);
    --border-bottom-yellow: rgb(255, 234, 0);
    --primary-color-blue: rgb(30, 30, 158);
    --primary-color-red: rgb(225, 0, 0);
    --primary-color-yellow: rgb(255, 234, 0);
    --secondary-color: rgb(198, 198, 198);
    --text-white: rgb(255, 255, 255);
    --text-black: rgb(0, 0, 0);
    --text-blue: rgb(0, 0, 126);
    --text-dark-grey: rgb(179, 179, 179);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a,
button {
    text-decoration: none;
    list-style-type: none;
}

.top {
    display: none;
} 

/* Section Header */

.section-header {
    position: relative;
    padding: 40px 5px 35px;
    font-size: 2.2rem;
}

.section-header:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    border-bottom: 1px solid var(--border-bottom-grey);
    display: block;
}

.section-header_article-link {
    position: absolute;
    left: 0;
    top: 80px;
}

/* End Section Header */

/* NavBar Smartfon */

.navbar-smartphone {
    position: relative;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-blue);
}

.nav-smartphone__link:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 5px solid var(--border-bottom-yellow);
}

.navbar-smartphone__contener {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-smartphone {
    display: flex;
}

.logo-smartphone .fa-solid {
    display: flex;
    padding-left: 20px;
    font-size: 3rem;
    cursor: pointer;
}

.navbar-smartphone__nav-smartphone {
    width: 100%;
    height: 40px;
}

.nav-smartphone__link ul {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    display: inline-flex;
    justify-content: space-around;
    background-color: white;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 3;
}


/* End NavBar Smartfon */

/* Contener Smartphone */

.contener-smartphone {
    max-width: 959px;
    padding: 2.5rem 1.5rem;
    background-color: var(--background-light-grey);
}

.content-smartphone {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: center;
}

.search-smartphone {
    display: flex;
    height: 35px;
    padding-left: 1.5rem;
    background-color: white;
    border: 1px solid var(--border-bottom-grey);
    border-radius: var(--border-radius);
}

.content-smartphone .keyword-input-smartphone {
    width: 90%;
    padding-left: 1.5rem;
    border: none;
    outline: none;
}

::placeholder {
    color: var(--text-dark-grey);
}

.search-smartphone .fa-magnifying-glass {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-dark-grey);
}

.image-smartphone {
    position: relative;
    height: 24rem;
    width: 100%;
    background-color: var(--background-white);
    border: 1px solid var(--border-bottom-grey);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.navigation-smatphone__manual {
    position: absolute;
    display: flex;
    bottom: 9px;
    left: 50%;
    transform: translatex(-50%);
}

.manul-btn {
    height: 15px;
    width: 15px;
    margin: 6px;
    border-radius: 10px;
    border: 2px solid var(--border-bottom-grey);
    cursor: pointer;
    transition: .4s;
}

.manul-btn:hover {
    background: var(--border-bottom-grey);
}

input[name="smartphone__slider"] {
    position: absolute;
    visibility: hidden;
}

.photo-smartphone__slides {
    display: flex;
    height: 86%;
    width: 500%;
}

.smartphone-slide {
    width: 20%;
    padding: 10px;
    transition: .6s;
}

.smartphone-slide img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

#radio1:checked ~ .s1 {
    margin-left: 0;
}

#radio2:checked ~ .s1 {
    margin-left: -20%;
}

#radio3:checked ~ .s1 {
    margin-left: -40%;
}

#radio4:checked ~ .s1 {
    margin-left: -60%;
}

#radio5:checked ~ .s1 {
    margin-left: -80%;
}

/* Manual navigation slide */

/* End Manual Navigation Slide */

.articles-smartphone__new-promotions {
    height: 24rem;
    background-color: var(--background-white);
    border: 1px solid var(--border-bottom-grey);
    border-radius: var(--border-radius);
}

/* End Contener Smartphone */

/* Last Watched */

@media only screen and (min-width: 960px) {

/* NavBar-top */

.top {
    display: contents;
}  

.navbar-smartphone,
.contener-smartphone {
    display: none;
}

.header-component {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.header-content {
    position: relative;
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 26px;
    border-bottom: 1px solid var(--border-bottom-grey);
    display: block;
}

.top-link li,
.top-login li {
    padding: 0 6px;
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;
}

.top-link li a,
.top-login li a{
    color: var(--text-blue);
    position: relative;
}

.top-login li span {
    color: var(--text-black);
    font-size: 1.2rem;
}

.top-link li a::before,
.top-login li a::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    top: 100%;
    background-color: var(--text-blue);
}

.top-link li a:hover::before,
.top-login li a:hover::before {
    width: 100%;
}

.top-link .boltRed {
    color: var(--primary-color-red);
}

/* End NavBar-top */

/* Search Menu */

.search__menu {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
}


.search {
    height: 44px;
    width: 520px;
    border-radius: 25px;
    border: solid 1px var(--secondary-color);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.keyword-input {
    height: 42px;
    width: 305px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    border: none;
}

.keyword-input::placeholder {
    font-size: 1.1rem;
}

.selected-item {
    height: 42px;
    width: 130px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--text-blue);
}

.logo-picture {
    height: 42px;
    width: 250px;
}

.shopping-card {
    padding-right: 30px;
    display: flex;
    justify-content: end;
}

.shopping-card img {
    height: 80px;
    width: 80px;
}

/* End Search Menu */

/* Nav Bar Computer */ 

.wrapper__computer {
    width: 100%;
    background: var(--primary-color-yellow);
}

.nav-link__computer {
    height: 40px;
    max-width: 1200px;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link__computer ul {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}

.nav-link__computer ul li {
    display: inline-block;
    margin: 0 8px;
    padding: 0 5px;
}

.nav-link__computer ul li a {
    display: block;
    color: var(--text-black);
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link__computer ul li .menu__agd-duze {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 25px 15px;
    left: 0;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 2.4rem;
    background-color: var(--background-white);
    visibility: hidden;
}

.nav-link__computer ul li .menu__agd-duze  span .navbar-icon {
    height: 100%;
    max-height: 30px;
    width: auto;
    padding-right: 1rem;
}

.nav-link__computer ul li a:hover {
    background: var(--background-white);
}

.nav-link__computer ul li:hover .menu__agd-duze {
    visibility: visible;
}

.nav-link__computer ul li .menu__agd-duze .submenu__agd-duze {
    display: flex;
    flex-direction: column;
    width: 200px;
}

/* End Nav Bar Computer */ 

/* Main Top Slider */

.main-top-slider {
    display: flex;
    justify-content: center;
    max-height: 670px;
    width: 100%;
    background-color: var(--background-black);
}

.main-top-slider .container-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 1200px;
    font-size: 5rem;
    background-color: grey;
    border: 2px solid red;
}

/* End Main Top Slider */

.day-deals-container,
.popilar-section-container,
.popular-section-container,
.opportunity-zone-container,
.article-section-container,
.categories-in-our-store,
.categories-in-our-store-container,
.categories-brands-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Banners Main Top */

.banners-main_section {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    z-index: 10;
}

.banners-main_top-content {
    display: flex;
    justify-content: space-between;
    height: 160px;
    width: 100%;
}

.banners-bringing {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 590px;
}

.banners-transportation,
.banners-pick_up {
    height: 100%;
    width: 285px;
    z-index: 2;
}

.banners-bringing_content {
    position: relative;
    height: 100%;
    padding: 15px 20px 35px 20px;
    background: var(--primary-color-blue);
}

.banners-bringing_contentv2 {
    position: relative;
    height: 100%;
    padding: 15px 20px 35px 20px;
    background: var(--primary-color-yellow);
}

.banners-bringing_images {
    height: 160px;
    width: 185px;
}

.banners-bringing_tittle {
    font-size: 2.2rem;
    color: var(--text-white);
}

.banners-bringing_tittlev2 {
    font-size: 2.2rem;
    color: var(--text-black);
}

.banners-bringing_text {
    padding-top: 8px;
    font-size: 1.4rem;
    color: var(--text-white);
}

.banners-bringing_textv2 {
    padding-top: 8px;
    font-size: 1.4rem;
    color: var(--text-black);
}

.banners-bringing_details {
    position: absolute;
    bottom: 14px;
    font-size: 1.4rem;
    color: var(--text-white);
}

.banners-bringing_detailsv2 {
    position: absolute;
    bottom: 14px;
    font-size: 1.3rem;
    color: var(--text-blue);
}

.banners-bringing_images-car {
    position: absolute;
    left: 145px;
    bottom: 5px;
    z-index: 2;
}

.banners-bringing_images-1h {
    position: absolute;
    left: 195px;
    bottom: -15px;
    z-index: 2;
}

/* Day Deals */

.day-deals-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.day-deals-photo {
    display: flex;
    width: 285px;
}

.day-deals-item-content {
    height: 158px;
    width: 285px;
    padding: 20px;
    background: var(--background-light-grey);
}

.day-deals-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.day-deals-heading a,
.day-deals-box a {
    text-decoration: none;
    color: var(--text-black);
}

.day-deals-title {
    padding-top: 8px;
    font-size: 1.5rem;
}

/* End Day Deals */

/* Popular Section */

.popular-product_list {
    display: flex;
    width: 100%;
}

.popular-product_content {
    display: block;
    height: 322px;
    width: 210px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.popular-product_content:hover {
    border: 1px solid var(--background-light-grey);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
}

.product-photo {
    height: 170px;
    width: 190px;
}

.product-photo .produck-photo_images {
    width: 100%;
}

.price-normal {
    padding-top: 8px;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--primary-color-red);
}

.price-cheaper {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color-red);
}

.price-old {
    padding-right: 6px;
    text-decoration: line-through;
    color: var(--text-black);
}

.price-promotion-date {
    padding-top: 6px;
    color: var(--border-bottom-grey);
}

.produckt-name {
    padding-top: 6px;
    font-size: 1.3rem;
    font-weight: 600;
}

/* End Popular Section */

/* Opportunity Zone Section */

.opportunity-zone-boxes {
    display: flex;
    justify-content: space-between;
}

.opportunity-zone-content-main {
    height: 609px;
    width: 590px;
    background-color: red;
}

.opportunity-zone-content-small {
    display: grid;
    grid-template-columns: 285px 285px;
    grid-template-rows: 294px 294px; 
    column-gap: 20px;
    row-gap: 20px;
}

.opportunity-zone-box {
    height: 290px;
    width: 285px;
}

.opportunity-zone-photo {
    display: flex;
    width: 285px;
    height: 195px;
}

.opportunity-zone-item-content {
    height: 100px;
    width: 285px;
    padding: 20px;
    background: var(--background-light-grey);
}

.opportunity-zone-heading {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.opportunity-zone-heading a {
    text-decoration: none;
    color: var(--text-black);
}

.opportunity-zone-title {
    font-size: 1.4rem;
}

/* End Opportunity Zone Section */

/* Article Section */

.article-section {
    position: absolute;
}

.section-header_link {
    position: relative;
    top: -54px;
    left: 140px;
    font-size: 1.5rem;
}

.section-header_article-link {
    position: relative;
    top: -54px;
    left: 220px;
    font-size: 1.5rem;
}

.article-section-boxes {
    display: flex;
    justify-content: space-between;
}

.article-section-content-main {
    height: 700px;
    width: 590px;
    background-color: blue;
}

.article-section-content-small {
    display: grid;
    grid-template-columns: 285px 285px;
    grid-template-rows: 340px 340px; 
    column-gap: 20px;
    row-gap: 20px;
}

.article-section-box {
    height: 290px;
    width: 285px;
}

.article-section-photo {
    display: flex;
    width: 285px;
    height: 180px;
}

.article-section-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 285px;
    padding: 20px;
    background: var(--background-light-grey);
}

.article-section-heading {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.article-section-heading a {
    text-decoration: none;
    color: var(--text-black);
}

.article-section-title {
    display: inline-flex;
    align-items: center;
    margin: auto auto 0 0;
    padding: 5px 15px;
    background-color: var(--background-white);
    font-size: 1.4rem;
    border-radius: 20px;
}

.article-section-title a {
    display: flex;
    align-items: center;
}

.autor-photo {
    display: block;
    height: 25px;
    width: 25px;
    margin-left: -8px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.article-photo {
    display: block;
    height: 100%;
}

.autor-name {
    display: flex;
    text-decoration: underline;
}

/* End Article Section */

/* Categories In Our Store */

.categories-in-our-store-list {
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    width: calc(100% / 5);
    padding: 15px;
    margin-bottom: 55px;
    border-radius: 5px;
}

.categories-in-our-store-image {
    height: 123px;
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
}

.categories-in-our-store-image img {
    height: 100%;
    width: auto;
    position: absolute;
    transform: translateX(-50%);
}

h3 a {
    color: var(--text-black);
}

.categories-in-our-store-image:hover {
    border: 1px solid var(--background-light-grey);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
}

/* End Categories In Our Store */

/* End Banners Main Top */

.footer-main {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 1200px;
    padding: 10px;
}

}